<h1>All Bachelorettes:</h1>

<ol>
@foreach (Bachelorette bachelorette in Model)
{
    <ul>
        <li>ID: @bachelorette.BacheloretteId</li>
        <li>Base64: @bachelorette.Base64</li>
        <li>Description: @bachelorette.Description</li>
    </ul>
    @* <a href="/Bachelorettes/Details/@(bachelorette.BacheloretteId)"><p>View Details</p></a> *@
    <br>
}
</ol>

<p>@Html.ActionLink("Add a bachelorette","Create")</p>